/* General Resetting*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----- VARIABLE DECLARATIONS --------*/
:root{
    /*------DESKTOP------*/
    --desk-w:1400px;
    --desk-h:3006px;
    /*------section header------*/
        --desk-header-w:1400px;
        --desk-header-h:800px;
        --desk-header-heading-w:1000.6px;
        --desk-header-heading-h:32px;
        --desk-header-heading-t:27.76px;
        --desk-header-cont-w:637px;
        --desk-header-cont-h:313px;
        --desk-header-cont-top:372px;
        --desk-header-img-w:162px;
        --desk-header-img-h:32px;
        --desk-h1-w:578px;
        --desk-h1-h:40px;
        --desk-p1-w:355px;
        --desk-p1-h:20px;
        --desk-p2-w:673px;
        --desk-p2-h:104px;
        --desk-p2-t:209px;
        


    /*------TABLETS------*/
    --tab-w:768px;
    --tab-h:3507px;
    /*------section header------*/
    --tab-header-w:768px;
    --tab-header-h:800px;
    --tab-header-heading-w:633px;
    --tab-header-heading-h:32px;
    --tab-header-heading-t:29px;
    --tab-header-cont-w:637px;
    --tab-header-cont-h:313px;
    --tab-header-cont-top:372px;

    /*------MOBILES------*/
    --mob-w:480px;
    --mob-h:4860px;
    /*------section header------*/
    --mob-header-w:376px;
    --mob-header-h:869px;
    --mob-header-heading-w:247px;
    --mob-header-heading-h:32px;
    --mob-header-heading-t:29px;
    --mob-header-cont-w:375px;
    --mob-header-cont-h:436px;
    --mob-header-cont-top:327px;
    --btn-w:162px;
    --btn-h:44px;
    --btn-1-t:100px;
    --btn-box-shadow:0px 2px 4px rgba(0,0,0.2), 0px 4px 8px rgba(0,0,0.19);
    --mob-p2-t:254px;
    --mob-btn-t:145px;

    /*-----Mob Menu -----*/
    --bar-w:30px;
    --bar-h:6px;
    --bar-gap:3px;
    --foreground:#333;
    --background:var(--color1);
    --hamb-margin:5px;
    --animation-timing:200ms ease-in-out;
    --ham-h:calc(3*var(--bar-h)+2*var(--bar-gap));
    --x-width:calc(var(--ham-h)*1.4142135624);

    /*------- Fonts -----*/
    --font-fam: 'Source Sans Pro', sans-serif;
    --color1: white;
    --color2:#FF6565;
    --h1-font-size:32px;
    --weight1:bold;
    --weight2:400;
    --weight3:300;
    --weight4:200;
    --font-size1:32px;
    --font-size2:16px;
    --font-size3:14px;
    --font-size4:12px;
    

}

body{
    width: 100%vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------Desktop ------------*/

@media screen and (max-width:1400px) {
    .container{
        width: var(--desk-w);
        height: var(--desk-h);
        background-image: url(images/headphones_hero_1.jpg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        position:relative;
    }

    header{
        position: absolute;
        width: var(--desk-header-heading-w);
        height: var(--desk-header-heading-h);
        display: flex;
        justify-content: space-between;
        top:var(--desk-header-heading-t)
   }

   header img{
    width: var(--desk-header-img-w);
    height: var(--desk-header-img-h);
   }

   header .menu{
    display: flex; 
    flex-direction: row;
   }

   header .menu .hamb{
    display: none;
   }

   header .menu ul{
    display: block;
    list-style: none;
    width: 255px;   
    height: 15px
   }

   header .menu ul li{
    display: inline-block;
   }

   header .menu ul li a{
    text-decoration: none;
    color: var(--color1);
    margin-left: 5px;
}

ul.display1 li a.higl:hover{
    color: var(--color2);
    cursor: pointer;
}

main section.one{
    position:absolute;
    left: 0;
    top: 0;
    width: var(--desk-header-w);
    height: var(--desk-header-h);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1{
    position: absolute;
    width: var(--desk-header-cont-w);
    height: var(--desk-header-cont-h);
    top: var(--desk-header-cont-top);
    color: var(--color1);
    font-family: var(--font-fam);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 h1{
    width: var(--desk-h1-w-);
    height: var(--desk-h1-h);
    color: var(--color1);
    font-family: var(--font-fam);
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--weight1);
}

.content1 .prag_1{
    height: var(--desk-p1-h);
    font-size: var(--font-size2);
    font-weight: var(--weight1);

}

.content1 button{
    width: var(--btn-w);
    height: var(--btn-h);
    position: absolute;
    top: var(--btn-1-t);
    background-color: #FF6565;
    border-radius: 44px;
    border: none;
    box-shadow: var(--btn-box-shadow);
    color: var(--color1);
    font-weight: bold;
    font-size: var(--font-size3);

}

.content1 .parag_2{
    position: absolute;
    width: var(--desk-p2-w);
    height: var(--desk-p2-h);
    font-size: var(--font-size2);
    font-weight: var(--weight3);
    top: var(--desk-p2-t);
    text-align: center;
 }


}







/*---------TABLETS ------------*/


@media screen and (max-width:800px) {
    .container{
        width: var(--tab-w);
        height: var(--tab-h);
        background-image: url(images/headphones_hero_1.jpg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        position:relative;
    }

    header{
        position: absolute;
        width: var(--tab-header-heading-w);
        height: var(--tab-header-heading-h);
        display: flex;
        justify-content: space-between;
        top:var(--tab-header-heading-t)
   }

   header img{
    width: var(--tab-header-img-w);
    height: var(--tab-header-img-h);
   }

   header .menu{
    display: flex; 
    flex-direction: row;
   }

   header .menu .hamb{
    display: none;
   }

   header .menu ul{
    display: block;
    list-style: none;
    width: 255px;   
    height: 15px
   }

   header .menu ul li{
    display: inline-block;
   }

   header .menu ul li a{
    text-decoration: none;
    color: var(--color1);
    margin-left: 5px;
}

header .menu ul li a:hover{
    color: var(--color2);
}

main section.one{
    position:absolute;
    left: 0;
    top: 0;
    width: var(--tab-header-w);
    height: var(--tab-header-h);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1{
    position: absolute;
    width: var(--tab-header-cont-w);
    height: var(--tab-header-cont-h);
    top: var(--tab-header-cont-top);
    color: var(--color1);
    font-family: var(--font-fam);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 h1{
    width: var(--tab-h1-w-);
    height: var(--tab-h1-h);
    color: var(--color1);
    font-family: var(--font-fam);
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--weight1);
}

.content1 .prag_1{
    height: var(--desk-p1-h);
    font-size: var(--font-size2);
    font-weight: var(--weight1);

}

.content1 button{
    width: var(--btn-w);
    height: var(--btn-h);
    position: absolute;
    top: var(--btn-1-t);
    background-color: #FF6565;
    border-radius: 44px;
    border: none;
    box-shadow: var(--btn-box-shadow);
    color: var(--color1);
    font-weight: bold;
    font-size: var(--font-size3);

}

.content1 .parag_2{
    position: absolute;
    width: var(--desk-p2-w);
    height: var(--desk-p2-h);
    font-size: var(--font-size2);
    font-weight: var(--weight3);
    top: var(--desk-p2-t);
    text-align: center;
 }


}


/*---------MOBILES ------------*/



@media screen and (max-width:800px) {
    .container{
        width: var(--mob-w);
        height: var(--mob-h);
        background-image: url(images/headphones_hero_1.jpg);
        background-repeat: no-repeat;
        background-size:   var(--mob-header-w)  var(--mob-header-h);
        display: flex;
        flex-direction: column;
        align-items: center;
        position:relative;
    }

    header{
        position: absolute;
        width: var(--mob-header-heading-w);
        height: var(--mob-header-heading-h);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        top:var(--mob-header-heading-t);
        left: 50px;
        
   }

   header img{
    width: var(--mob-header-img-w);
    height: var(--mob-header-img-h);
   }

   header .menu{
    display: flex; 
    flex-direction: row;
   }

   header .menu .hamb{
    display: flex;
    flex-direction: column;
    gap:var(--bar-gap);
    width: max-content;
    position: absolute;
    left: var(--hamb-margin);
    z-index: 2;
    cursor: pointer;
   }

   .hamb::before,
    .hamb input, 
    .hamb::after{
    content: "";
    width: var(--bar-w);
    height: var(--bar-h);
    
    background-color: var(--background);
    border-radius: 99999px;

    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
      }

      .hamb input{
        appearance: none;
        outline: none;
        pointer-events: none;
      }

 .hamb input:checked{
    opacity: 0;
    width: 0;
}

.hamb:has(input:checked)::before{
    rotate: 45deg;
    transform-origin: left center;
   translate: 0 -3px;
}

.hamb:has(input:checked)::after{
    rotate: -45deg;
    transform-origin: left center;
    
}




   header .menu ul.display1{
    translate: -100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    height: 200px;
    width: var(--mob-header-heading-w);
    top:50px;
    align-items: center;
    justify-content: space-evenly;
    transition: translate var(--animation-timing);
   }

   .hamb:has(input:checked)+ ul.display1{
    translate: 0;
    cursor: pointer;
   }
 
   

main section.one{
    position:absolute;
    left: 0;
    top: 0;
    width: var(--mob-header-w);
    height: var(--mob-header-h);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1{
    position: absolute;
    width: var(--mob-header-cont-w);
    height: var(--mob-header-cont-h);
    top: var(--mob-header-cont-top);
    color: var(--color1);
    font-family: var(--font-fam);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content1 h1{
    width: var(--mob-h1-w-);
    height: var(--mob-h1-h);
    color: var(--color1);
    font-family: var(--font-fam);
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--weight1);
}

.content1 .prag_1{
    height: var(--desk-p1-h);
    font-size: var(--font-size2);
    font-weight: var(--weight1);

}

.content1 button{
    width: var(--btn-w);
    height: var(--btn-h);
    position: absolute;
    top: var(--mob-btn-t);
    background-color: #FF6565;
    border-radius: 44px;
    border: none;
    box-shadow: var(--btn-box-shadow);
    color: var(--color1);
    font-weight: bold;
    font-size: var(--font-size3);

}

.content1 .parag_2{
    position: absolute;
    width: var(--mob-p2-w);
    height: var(--mob-p2-h);
    font-size: var(--font-size2);
    font-weight: var(--weight3);
    top: var(--mob-p2-t);
    text-align: center;
 }


}


