/* General Resetting*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /*------DESKTOP------*/
    --desk-w:1400px;
    --desk-h:3006px;
    /*------section header------*/
        --desk-header-w:1400px;
        --desk-header-h:800px;
        --desk-header-heading-w:1000.6px;
        --desk-header-heading-h:32px;
        --desk-header-heading-t:27.76px;
        --desk-header-heading-menu-w:255px;
        --desk-header-heading-menu-h:15px;
        --desk-header-cont-w:637px;
        --desk-header-cont-h:313px;
        --desk-header-cont-top:372px;
        --desk-header-cont-left:382px;;
        --desk-header-img-w:162px;
        --desk-header-img-h:32px;
        --desk-h1-w:578px;
        --desk-h1-h:40px;
        --desk-p1-w:355px;
        --desk-p1-h:20px;
        --desk-p2-w:673px;
        --desk-p2-h:104px;
        --desk-p2-t:209px;
        


    /*------TABLETS------*/
    --tab-w:768px;
    --tab-h:3507px;
    /*------section header------*/
    --tab-header-w:768px;
    --tab-header-h:800px;
    --tab-header-heading-w:633px;
    --tab-header-heading-h:32px;
    --tab-header-heading-t:29px;
    --tab-header-cont-w:637px;
    --tab-header-cont-h:313px;
    --tab-header-cont-top:372px;
    --desk-header-cont-left:32px;;

    --tab-header-heading-menu-w:255px;
    --tab-header-heading-menu-h:15px;
    --tab-header-img-w:161px;
    --tab-header-img-h:32px;

    /*------MOBILES------*/
    --mob-w:480px;
    --mob-h:4860px;
    /*------section header------*/
    --mob-header-w:376px;
    --mob-header-h:869px;
    --mob-header-heading-w:247px;
    --mob-header-heading-h:32px;
    --mob-header-heading-t:29px;
     --mob-header-img-w:161px;
    --mob-header-img-h:32px;
    --mob-header-cont-w:375px;
    --mob-header-cont-h:436px;
    --desk-header-cont-left:6px;;
    --mob-header-cont-top:327px;
    --btn-w:162px;
    --btn-h:44px;
    --btn-1-t:100px;
    --btn-r:40px;
    --btn-box-shadow:0px 2px 4px rgba(0,0,0.2), 0px 4px 8px rgba(0,0,0.19);
    --mob-p2-t:254px;
    --mob-btn-t:145px;
    

    /*-----Mob Menu -----*/
    --bar-w:30px;
    --bar-h:6px;
    --bar-gap:3px;
    --foreground:#333;
    --background:var(--color1);
    --hamb-margin:5px;
    --animation-timing:200ms ease-in-out;
    --ham-h:calc(3*var(--bar-h)+2*var(--bar-gap));
    --x-width:calc(var(--ham-h)*1.4142135624);

    /*------- Fonts -----*/
    --font-fam: 'Source Sans Pro', sans-serif;
    --color1: white;
    --color2:#FF6565;
    --h1-font-size:32px;
    --weight1:bold;
    --weight2:400;
    --weight3:300;
    --weight4:200;
    --font-size1:32px;
    --font-size2:16px;
    --font-size3:14px;
    --font-size4:12px;
    

}

body{
    width: 100%vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------ Desktop view -----*/
@media screen and (max-width:1440px) {
    .container{
        position: relative;
        width: var(--desk-w);
        height: var(--desk-h);
        display: flex;
        flex-direction: column;
        background: url(images/headphones_hero_1.jpg);
        background-repeat: no-repeat;
        align-items: center;
        border: solid;
    }

    .container header{
        position: absolute;
        width: var(--desk-header-heading-w);
        height: var(--desk-header-heading-h);
        top: var(--desk-header-heading-t);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img{
     width: var(--desk-header-img-w);
    height: var(--desk-header-img-h);
    }

    header .menu{
        display: flex;
        flex: columnS;
    }

    header .menu .hamb{
        display: none;
    }

    header .menu ul.display1{
        display: block;
        list-style: none;
        width: var(--desk-header-heading-menu-w);
        height: var(--desk-header-heading-menu-h);
    }

    header .menu ul.display1 li{
        display: inline-block;
    }

    header .menu ul.display1 li a.higl{
        text-decoration: none;
        color: var(--color1);
        text-align: justify;
        margin-left: 5px;
    }
    header .menu ul.display1 li a.higl:hover{
      color: var(--color2);
      cursor: pointer;
    }

    section.one{ 
        width: var(--desk-header-w);
        height: var(--desk-header-h);
        left: var(--desk-header-cont-left);
        border: solid;
        color: var(--color1);
        font-family: var(--font-fam); 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   section.one .content1{
    width: var(--desk-header-cont-w);
    height: var(--desk-header-cont-h);
    margin-top: var(--desk-header-cont-top);
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

   }

   h1{
    width: var(--desk-h1-w);
    height: var(--desk-h1-h);
    font-size: var(--font-size1);
   }

   p.content_1{
    width: var(--desk-p1-w);
    height: var(--desk-p1-h);
    font-size: var(--font-size3);
    font-weight: bold;
   }

   button{
    width: var(--btn-w);
    height: var(--btn-h);
    position: absolute;
    top: var(--btn-1-t);
    background-color: var(--color2);
    border: none;
    border-radius: var(--btn-r);
    box-shadow: var(--btn-box-shadow);
    color: var(--color1);
    cursor: pointer;
   }

   p.content_2{
    font-size: var(--font-size2);
    position: absolute;
    top: var(--desk-p2-t);
    text-align: center;
    line-height: 26px;
    font-weight: 300;
    
   }
    
} 
 
/*---- TABLETS SCREEN ----*/
@media screen and (max-width:800px) {
    .container{
        position: relative;
        width: var(--tab-w);
        height: var(--tab-h);
        display: flex;
        flex-direction: column;
        background: url(images/headphones_hero_1.jpg);
        background-repeat: no-repeat;
        align-items: center;
        
    }

    .container header{
        position: absolute;
        width: var(--tab-header-heading-w);
        height: var(--tab-header-heading-h);
        top: var(--tab-header-heading-t);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img{
     width: var(--tab-header-img-w);
    height: var(--tab-header-img-h);
    }

    header .menu{
        display: flex;
        flex: columnS;
    }

    header .menu .hamb{
        display: none;
    }

    header .menu ul.display1{
        display: block;
        list-style: none;
        width: var(--tab-header-heading-menu-w);
        height: var(--tab-header-heading-menu-h);
    }

    header .menu ul.display1 li{
        display: inline-block;
    }

    header .menu ul.display1 li a.higl{
        text-decoration: none;
        color: var(--color1);
        text-align: justify;
        margin-left: 5px;
    }
    header .menu ul.display1 li a.higl:hover{
      color: var(--color2);
      cursor: pointer;
    }
    
} 


/*------ MOBILE SCREENS -----*/
@media screen and (max-width:480px) {
    .container{
        position: relative;
        width: var(--mob-w);
        height: var(--mob-h);
        display: flex;
        flex-direction: column;
        background: url(images/headphones_hero_1.jpg);
        background-repeat: no-repeat;
        align-items: center;
        
    }

    .container header{
        position: absolute;
        width: var(--mob-header-heading-w);
        height: var(--mob-header-heading-h);
        top: var(--mob-header-heading-t);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        top: var(--mob-header-heading-t);
    }

    header img{
     width: var(--mob-header-img-w);
    height: var(--mob-header-img-h);
    }

    header .menu{
        display: flex;
     
    }

    header .menu .hamb{
        display: flex;
        flex-direction: column;
        gap:var(--bar-gap);
        z-index: 2;
        width: max-content;
        cursor: pointer;
      
    }

    .hamb::before, 
    .hamb input,
    .hamb::after{
       content: "";
       width: var(--bar-w);
       height: var(--bar-h);
       background-color: var(--background);
       border-radius: 99999px;
       cursor: pointer;
   }
   .hamb input {
    appearance: none;
    outline: none;
    margin: 0;
    padding: 0;
    pointer-events: none;

}
  .hamb input:checked{
  opacity: 0;
  width: 0;

  }

 .hamb:has(input:checked)::before{
    rotate: 45deg;
    transform-origin: left center;
    translate: 0 -3px;
  }
.hamb:has(input:checked)::after{
    rotate: -45deg;
    transform-origin: left center;
  }

  
  .display1{
    position:absolute;
        translate: -150%;
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 200px;
        width: var(--mob-header-heading-w);
        top: 50px;
        align-items: center;
        justify-content: space-between;
        
    }
    .hamb:has(input:checked) + .display1 li{ 
        display: block;
        margin-bottom: 20px;
    }

    .hamb:has(input:checked) + .display1{
        translate: 0;
        cursor: pointer;
    }
  



 

    
} 
    