body{
    margin: 0;
    padding: 0;
}

.pent{
    background: linear-gradient(to right, #fe8c00,#f83600);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.pentagon{
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: white transparent;

}

.pentagon::before{
    content: "";
    position: absolute;
}