*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source San Pro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 1440px;
    height: 3718px;
    background-image: url(images/Object.png);
    background-repeat: no-repeat;
}

header{
    width: 1103.41px;
    height: 29.4px;
    margin-top: 35.02px;
    margin-left: 171.59px;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav img{
width: 167.02px;
height: 29.46px;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 234px;
    height: 15px;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Source San Pro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.header_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.header_banner div.gsl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top:120px;
}

main section.header_banner div.gsl h1{
font-size: 120px;
font-weight: 700;
}

main section.header_banner div.gsl div.notes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 280px;
}

main section.header_banner div.gsl div.notes span{
    font-size: 16px;
    font-weight: 700;
}

main section.header_banner div.gsl button{
    width: 162px;
    height: 44px;
    background: #C271FF;
    margin-top: 58px;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0,0,0,0.19);
    color: white;

}

main section.header_banner div.gsl button:hover{
cursor: pointer;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4), 0px 2px 30px rgba(0,0,0,0.6);

}





main section.header_banner div.smile_c{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    
}

main section.header_banner div.smile_c h2{
    font-family: 'Source San Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 32px;
    font-weight: 700;
}

main section.header_banner div.smile_c h2 span{
    color: #C271FF;
} 

main section.header_banner div.smile_c div.smile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 1440px;
    
    
}

.smile_1{
    width: 150px;
    height: 237px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smile_1 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.smile_1 h3{
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin: 10px;
}

.smile_1 p{ 
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}


main section.tutorials{
    margin: 0;
    padding: 0;
    background-color: #C271FF;
    width: 1440px;
    height:392px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.tutorials div.tut{
    width: 930px;
    height: 160px;
    display: flex;
    align-items: center; 
    
}

div.tut div.tut_img{
    width: 160px;
    height: 160px;
}

div.tut div.tut_quote{
    width: 730px;
    height: 158px;
    display: flex;
    flex-direction: column;
    margin-left: 58px;
    font-family: 'Source San Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color:white;

}

div.tut div.tut_quote blockquote{
    font-weight: 400px;
    font-size: 22px;
    margin-bottom: 16px;
}

div.tut div.tut_quote h3{
    font-weight: 700px;
    font-size: 22px;
    
}

div.tut div.tut_quote p{
    font-weight: 400px;
    font-size: 22px;
    font-style: italic;
}

main section.popular{
    display: flex;
    width: 1228px;
    align-items: center;
    justify-content: center;
    height: 450px;
    margin-top: 87px;
    flex-direction: column;
}

main section.popular h2{
    font-family: 'Source Sans Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 300;
    width: 294px;
    margin-top: 0px;
}

main section.popular h2 span{
    color: #C271FF;
}

main section.popular div.vid_1{
    display: flex;
    height: 335px;
    margin-top: 70px;
    width: 1228px;
    justify-content: space-between;
}

main section.popular div.vid_1 div.pop1{
    width: 255px;
    height: 355px;
    display: flex;
    flex-direction: column;
}

main section.popular div.vid_1 div.pop1 img.pop1_img{
    width: 255px;
    height: 154px;
}

main section.popular div.vid_1 div.pop1 h3{
    font-size: 16px;
    font-family: 'Source Sans Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin: 13px;

}

main section.popular div.vid_1 div.pop1 p{
    font-size: 14px;
    font-family: 'Source Sans Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 13px;
    margin-bottom: 13px;
}

main section.popular div.vid_1 div.pop1 div.pop{
    display: flex;
    align-items: center;
}

main section.popular div.vid_1 div.pop1 div.pop img{
    width: 30px;
    height: 30px;
    margin-left: 13px;
}


main section.popular div.vid_1 div.pop1 div.pop h4{
    margin-left: 13px;
    font-family: 'Source Sans Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #C271FF;
}


main section.popular div.vid_1 div.pop1 div.p_star{
  display: flex;
  margin:13px;
  align-items: center;
  flex-direction: row;
}


main section.popular div.vid_1 div.pop1 div.p_star div.star{
    display: flex;
    height:15px ;
    color: #C271FF;
    width: 100px;
    justify-content: space-evenly;
  }

  main section.popular div.vid_1 div.pop1 div.p_star div.star i{
    width: 15px;
    height: 15px;
  }

  main section.popular div.vid_1 div.pop1 div.p_star div.star i.dim{
color:  #D8D8D8;
;
  }

  main section.popular div.vid_1 div.pop1 div.p_star p{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 80px;
    font-size: 14px;
    text-align: right;
  }

  main section.membership{
    border:solid;
    width: 1440px;
    height: 502px;
    background-color: #071629;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 main section.membership h2{
    font-family: 'Source Sans Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
 }

 main section.membership div.smile{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 1440px;
 justify-content: space-evenly;
 margin-top: 43px;
 margin-bottom: 40px;

 }

 main section.membership div.smile div.smile_3{
    width: 257px;
    height: 153px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
 }

 main section.membership div.smile .smile_3 img{
    width: 43.6px;
    height: 35.35px;
    margin-top: 0.03px;
 }

 main section.membership div.smile div.smile_3  h3{
    font-family: 'Source Sans Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom:10px;
 }

 main section.membership div.smile div.smile_3 p{
    font-family: 'Source Sans Pro',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    width: 215px;
    height: 52px;

 }

 main section.membership button{
    width: 162px;
    height: 44px;
    color: white;
    background-color: #C271FF;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), 0px 6px 8px rgba(0, 0, 0, 0.19);
    
    
 }

  main section.membership button:hover{
    cursor: pointer;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2), 0px 8px 30px rgba(0, 0, 0, 0.19);
    
  }